<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
</head>
<body>
    <div class="container my-5">
        <h1 class="mb-4">Privacy Policy</h1>
        <p>At Restraurant Management Syatem, we respect your privacy. This Privacy Policy explain how we collect, use, and protect your personal information.</p>

        <h3>1. Information We collect</h3>
        <p>We may collect details such as your name,email,phone number, and your history when you use our services.</p>

        <h3>2. How We Use Your Collect</h3>
        <p>Your information is used to manage orders, improve service quality</p>

    </div>

</body>

</html>